.panel {
    margin-bottom: 0.7rem;
    border: 1px solid var(--border);
    border-radius: 0.8rem;
}

.panel-header { 
    padding: 0.8rem;
    border-bottom: 1px solid var(--border);
}

.panel-content {
    padding: 0.8rem;
}

.panel-footer {
    padding: 0.8rem;
    border-top: 1px solid var(--border);
}