@font-face {
	font-family: rubik;
	src: url(./assets/font/rubik/Rubik-Regular.ttf);
}
@font-face {
	font-family: rubik;
	src: url(./assets/font/rubik/Rubik-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: rubik;
	src: url(./assets/font/rubik/Rubik-Light.ttf);
	font-weight: lighter;
}
@font-face {
	font-family: rubik;
	src: url(./assets/font/rubik/Rubik-Italic.ttf);
	font-style: italic;
}

:root {
	--light: #FFFFFF;
	--primary: #677294;

	--color: #128296;

	--border: #67729429;
	--border-hover: #67729499;
}

body {
	color: var(--color);
	font-family: rubik;
	font-size: 1rem;
}

* {
	/* transition: border-color ease-in-out .3s,
		background ease-in-out .3s,
		transition ease-in-out .3s; */
}

input,
button {
	color: var(--color);
}

input,
button,
a {
	transition: background ease-in-out 0.2s,
		border ease-in-out 0.2s,
		transform ease-in-out 0.2s;
}

a {
	color: var(--color);
}

.flex {
	display: inline-flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.gap {
	gap: 0.5rem;
}